body {
	background-position: center;
	background-size: cover;
	color: #FFF;
	font-family: Arial;
	margin: 0;
}

header {
	max-width: 100%;
	 height: 90px;
	  background-color: #fff;
	  color: #000;
}

header .city-links {
	float: left;
}

header .social-links {
	float: right;
}

header h1 {
	display: inline-block;
}

#container {
	width: 500px;
}

#content {
	background-color: #000;
	background-color: (rgba 0,0,0, 0.8);
}

img {
	width: 460px;
	padding-bottom: 20px;
}

.box {
	padding: 20px;
}

.social-links a {
	font-size: 40px;
	color: #000;
}

.social-links a.twitter:hover {
	color: #47C3FE;
}

.social-links a.instagram:hover {
	color: #003569;
}

.social-links a.snapchat:hover {
	color: #FFFC00;
}